version: "3.9"

services:
  database:
    image: postgres:15
    container_name: exambot_db
    restart: always
    environment:
      POSTGRES_DB: exambot_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 5s

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: exambot_web
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "8000:8000"

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: exambot_bot
    command: python /app/main.py
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
      web:
        condition: service_started

volumes:
  db_data:
